<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download | SenDoc- Easy Share</title>
    <link rel="stylesheet" href="/css/downloadstyle.css">
</head>

<body>
    <section class="download">
        <img class="download__icon" src="/img/import.svg" alt="sendoc-download">
        <% if(locals.error){ %>
        <h4><%= locals.error %> 😏</h4>
        <% } else { %>
        <h2>Your file is ready to download</h2>
        <p>Link expires in 24 hours</p>
        <div class="download__meta">
            <h4><%= filename %></h4>
            <small><%= parseInt(fileSize/1000) %> KB</small>
        </div>
        <div class="send-btn-container">
            <a href="<%= downloadLink %>">Download file</a>
        </div>
        <% } %>
    </section>

    <div class="logo"><img src="/img/logo-big.png" alt="logo"></div>

    <!-- contacts -->
    <div class="contacts">
        <a href="https://www.instagram.com/developerdepository/" target="_blank"><img src="/img/instagram.svg" alt="instagram"></a>
        <a href="https://www.facebook.com/atul.bhardwaj.13" target="blank"><img src="/img/facebook.svg" alt="facebook"></a>
        <a href="https://github.com/atul-1311" target="_blank"><img src="/img/github.svg" alt="github"></a>
        <a href="mailto:sendoc.easyshare13@gmail.com" target="_blank"><img src="/img/gmail.svg" alt="gmail"></a>
        <a href="https://play.google.com/store/apps/developer?id=Developer+Depository&hl=en_US" target="_blank"><img src="/img/google-play.svg" alt="youtube"></a>
    </div>
    <div class="responsive-text">
        <p>@ Developer Depository</p>
    </div>
</body>

</html>