<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SenDoc- Easy Share</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="upload-container">
        <div class="drop-zone">
            <div class="icon-container">
                <img src="/img/file-upload-alt.svg" alt="File Upload" class="left" draggable="false">
                <img src="/img/file-upload-alt.svg" alt="File Upload" class="center" draggable="false">
                <img src="/img/file-upload-alt.svg" alt="File Upload" class="right" draggable="false">
            </div>
            <input type="file" id="fileInput">
            <div class="title1">Drag & Drop Your Files Here, or <span class="browseBtn">browse</span></div>
        </div>
        <div class="progress-container">
            <div class="bg-progress"></div>
            <div class="inner-container">
                <div class="title2">Uploading....</div>
                <div class="percent-container"><span id="percent">0</span>%</div>
                <div class="progress-bar"></div>
            </div>
        </div>
        <div class="sharing-container">
            <p class="expire">Link Expires in 24 hrs</p>
            <div class="input-container">
                <input type="text" id="fileURL" readonly>
                <img class="copy-img" id="copybtn" src="/img/copy-alt.svg" alt="copy">
            </div>
            <p>Or Send Via Email</p>
            <div class="email-container">
                <form id="emailForm">
                    <div class="field">
                        <label for="sender">Your Email</label>
                        <input type="email" required name="from-email" id="sender">
                    </div>
                    <div class="field">
                        <label for="receiver">Receiver's Email</label>
                        <input type="email" required name="to-email" id="receiver">
                    </div>
                    <div class="send">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="logo"><img src="/img/logo-big.png" alt="logo"></div>
    <div class="upload-vector"></div>
    <div class="toast">Copied to Clipboard</div>
    <div class="contacts">
        <a href="https://www.instagram.com/developerdepository/" target="_blank"><img src="/img/instagram.png" alt="instagram"></a>
        <a href="https://play.google.com/store/apps/developer?id=Developer+Depository&hl=en_US" target="_blank"><img src="/img/google-play.png" alt="youtube"></a>
        <a href="https://github.com/atul-1311" target="_blank"><img src="/img/github.png" alt="github"></a>
        <a href="mailto:sendoc.easyshare13@gmail.com" target="_blank"><img src="/img/gmail.png" alt="gmail"></a>
    </div>

    <script src="/js/index.js"></script>
</body>
</html>